@using System.Net.Http

@inject IHttpClientFactory factory
@inject NavigationManager navigation

@rendermode InteractiveServer

@namespace Conesoft.Blazor.NetatmoAuth

@switch (CurrentAuthStep)
{
    case AuthSteps.NotAuthorized:
        if (NotAuthorized != null)
        {
            <button @onclick="Authorize">
                @NotAuthorized
            </button>
        }
        break;

    case AuthSteps.AuthorizedWithToken:
        if (Authorized != null)
        {
            <button @onclick="RestartAuthorization">
                @Authorized.Invoke(User)
            </button>
        }
        break;
}