@using System.Net.Http

@namespace Conesoft.Blazor.NetatmoAuth

@switch (CurrentAuthStep)
{
    case AuthSteps.NotAuthorized:
        if (NotAuthorized != null)
        {
            <form method="post" action="@AuthorizeNavLink" enctype="application/x-www-form-urlencoded">
                <button type="submit">@NotAuthorized</button>
            </form>
        }
        break;

    case AuthSteps.Authorized:
        if (Authorized != null)
        {
            <button @onclick="RestartAuthorization">
                @Authorized.Invoke(User)
            </button>
        }
        break;
}